//- index page
// - console.log(page.title)
// - console.log(page.posts);
- var title = page.title
- if (page.posts) {
-   var index = page.posts.length
-   if (page.tag) {
-     title = "Posts about " + page.tag[0].toUpperCase() + page.tag.substring(1)
-   }
- }

.main-container
  .main.wrapper.clearfix
    article
      h1.page-title #{title}
      != page.content
      - if (index)
          - page.posts.each(function(post) {
              include _excerpt
          - })
    if (page.tags)
      - var tags = page.tags.length  
    - if (page.links||tags)
      aside
        include _aside