- var footer_wrap_classes = "footer_wrap"
- if (config.footer_parallax) {
- footer_wrap_classes = footer_wrap_classes + " parallax-container"
-}
div(class=footer_wrap_classes)
  .footer-html.container.center-align
    .footer-nav
      ul
        li
          a(href='/project/StormCloudsGathering') About
        li
          a(href='/project/get-involved') Get Involved
        li
          a(href='/project/contact') Contact
        li
          a(href='/project/donate') Donate
    a(href="project/copyright")      
      img(src="" data-src="/images/third_party_branding/CC-BY-ND.png" class="lazy cc_by_nd")
    a(href="/project/stormcloudsgathering")
      img(src="" data-src="/images/branding/Footer_StormCloudsGathering.png" class="lazy")
   
  - if (config.footer_parallax)  {
    // TODO: Set parallax via config variable.
    .parallax
      img(src="" data-src=config.footer_parallax class="lazy")
  - }
  