.parallax-container
  .footer-html.container.center-align
    .footer-nav
      ul
        li
          a(href='/about-the-stormcloudsgathering-project') About
        li
          a(href='/get-involved') Get Involved
        li
          a(href='/contact') Contact
        li
          a(href='/donate') Donate
    a(href="/copy-respect")      
      img(src="" data-src="/images/third_party_branding/CC-BY-ND.png" class="lazy cc_by_nd")
    a(href="/about-the-stormcloudsgathering-project")
      img(src="" data-src="/images/branding/Footer_StormCloudsGathering.png" class="lazy")
    
  .parallax
    img(src="" data-src="/images/branding/Footer_Background.jpg" class="lazy")