meta(charset='UTF-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')

title= page.title ? page.title + ' | ' + config.title : config.title

meta(name='description', content= page.intro ? page.intro : config.meta_description)
meta(name='generator', content= config.title)
meta(name='author', content= config.author)
meta(name='keywords', content= theme.keywords)
meta(name='HandheldFriendly', content='True')
meta(name='MobileOptimized', content='320')
meta(name='viewport', content='width=device-width,initial-scale=1.0,maximum-scale=1,user-scalable=0')

link(rel='stylesheet', type='text/css', href= config.root + 'css/normalize.min.css')
link(rel='stylesheet', type='text/css', href= config.root + 'css/main.css')

script(src='scripts/vendor/modernizr-2.6.2-respond-1.1.0.min.js')