.header-container
      .wrapper.clearfix
        //if theme.logo
          //a(href= config.root)
            //img(src= theme.logo, alt= config.title, title= config.title)
        h1.title h1.title
        nav
          ul
            li.ir
              a(href='#') nav ul li a
            li
              a(href='#') nav ul li a
            li
              a(href='#') nav ul li a
