.header-container
      .wrapper.clearfix
        span(class="icon")
              a(href='#main_menu', title="menu", id="menu_button") <span class="fa fa-bars"></span>
        
        a(href='/get-involved', class='call-to-action get-involved btn blue darken-1') <span class="fa fa-lightbulb-o"></span> <span>Get Involved</span>
        a(href='#sidr_social', class="call-to-action follow btn blue darken-1 waves-effect waves-orange" title="Subscribe for Updates", id="social_button")<span>Follow</span> <span class="fa fa-share-alt"></span>
        if theme.logo
          a(href= config.root, id="logo")
            img(src= theme.logo, alt= config.title, title= config.title)
        a(href='/donate', class='call-to-action donate btn white deep-orange-text text-accent-3') <span>Donate</span> <span class="fa fa-heart"></span>
        
              