.header-container
      .wrapper.clearfix
        span(class="icon")
              a(href='#sidr_menu', title="menu", id="menu_button") <span class="fa fa-bars"></span>
        if theme.logo
          a(href= config.root, id="logo")
            img(src= theme.logo, alt= config.title, title= config.title)
        nav
          ul.menu
            li
              a(href='/donate', class='call-to-action button') <span>Donate</span> <span class="fa fa-heart"></span>
            li
              a(href='#sidr_social', class="button button-primary tooltip" title="Subscribe for Updates", id="social_button")<span>Follow</span> <span class="fa fa-share-alt"></span>