.header-container
      .wrapper.clearfix
        span(class="icon")
              a(href='#sidr_menu', title="menu", id="menu_button") <span class="fa fa-bars"></span>
        
        a(href='/get-involved', class='call-to-action button button-primary get-involved') <span class="fa fa-lightbulb-o"></span> <span>Get Involved</span>
        a(href='#sidr_social', class="call-to-action button button-primary tooltip" title="Subscribe for Updates", id="social_button")<span>Follow</span> <span class="fa fa-share-alt"></span>
        if theme.logo
          a(href= config.root, id="logo")
            img(src= theme.logo, alt= config.title, title= config.title)
        a(href='/donate', class='call-to-action button donate') <span>Donate</span> <span class="fa fa-heart"></span>
        
              