.header-container
      .wrapper.clearfix
        //if theme.logo
          //a(href= config.root)
            //img(src= theme.logo, alt= config.title, title= config.title)
        h1.logo
          a(href="/") StormCloudsGathering
        nav
          ul
            li.ir
              a(href='/about') About
            li
              a(href='/contact') Contact
            li
              a(href='/donate', class='call-to-action')
                span Donate
