<nav id="main_menu">
  <ul>
    <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
    <li><a href="/">Meme Warfare</a></li>
    
    <li><span><i class="fa fa-list"></i> Sections</span>
      <ul>
        <li><a href="/paradigm-for-the-next-generation">Paradigm for the Next Generation</a>
          <ul>
            <li><a href="/paradigm-for-the-next-generation/the-infinite-growth-complex">The Infinite Growth Complex</a>
          </ul>
        </li>
        <li><a href="/geopolitics">Geopolitics</a></li>
        <li><a href="/psychology">Psychology</a></li>
      </ul>
    </li>
    <li><a href="#"><i class="fa fa-lightbulb-o"></i> Get Involved</a></li>
    <li><a href="#"><i class="fa fa-heart"></i> Donate</a></li>
    <li><a class="follow" href="#sidr_social"><i class="fa fa-share-alt"></i> Get Updates</a></li>
    <li><a href="#"><i class="fa fa-id-card-o"></i> About</a></li>   
  </ul>
</nav>