<div id="sidr_menu" class="sidr_window">
  <span class="fa fa-times sidr_close"></span>
    <div class="menu-inner">
      <h4><a href="/">StormCloudsGathering</a></h4>
      <li><a href="/archives"><i class="fa fa-play"></i> Archives</a></li>
      <li><a href="/project/get-involved"><i class="fa fa-lightbulb-o"></i> Get Involved</a></li>
      <li><a href="/project/donate"><i class="fa fa-heart"></i> Donate</a></li>
      <li><a class="follow" href="#sidr_social"><i class="fa fa-share-alt"></i> Get Updates</a></li>
      <li><a href="/project/StormCloudsGathering"><i class="fa fa-id-card-o"></i> About</a></li>
    </div>
</div>