doctype html
html(lang='en-us')
  head
    include _head
  body(itemscope, itemtype='https://schema.org/WebPage')
    div(id="html_wrapper")
      include _browserupgrade.html
      include _header
      - if (page.first_visit && page.cookie_name) {
        .first_visit_wrap
          div(id='first_visit', data-cookie-name=page.cookie_name)
            .first_visit_inner  !{page.first_visit} 
      -}
      .main
        include _content
        
      include _menu.html
      include _sidr_social.html
      script(src='/js/vendor/jquery-1.11.2.min.js')
      script(src='/js/vendor/materialize.min.js')
      script(src='/js/vendor/jquery.viewport.mini.js')
      script(src='/js/vendor/firstvisit/jquery.firstVisitPopupCustom.js')
      script(src='/js/vendor/jquery.sidr.min.js')
      script(src='/js/vendor/mmenu/dist/js/jquery.mmenu.all.min.js')
      script(src='/js/main.js')
    
    